body {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
/*----------index.html----------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  50% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  50% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.main-header {
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 56px;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.site-navigation li {
  width: 240px;
  margin: auto;
  text-align: center;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.site-navigation li:nth-child(3) {
  padding-left: 6px;
}

.site-navigation li:nth-child(4) {
  padding-left: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #dfdfdf;
}

.site-navigation-current a {
  color: #766357;
}

.container {
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container h3 {
  font-weight: bold;
  font-size: 21px;
}

.intro {
  position: relative;
  height: 508px;
  background-color: #e3f0f8;
  background-image: url("../img/background.jpg");
  background-position: center 21%;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 1200px;
  height: 57px;
  background: url("../img/intro-logo.png") no-repeat center center;
}

.entry {
  min-height: 216px;
  background-color: #ffffff;
}

.entry-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.entry h2 {
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.entry p {
  max-width: 1200px;
  line-height: 26px;
  text-align: center;
}

.block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}

.block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  text-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.block img {
  display: block;
}

.block-text h3 {
  padding-bottom: 23px;
}

.block-text p {
  padding-top: 20px;
  text-align: center;
}

.block2 {
  background-color: #ffffff;
}

.block2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 330px;
  padding-top: 60px;
  list-style: none;
}

.block2-icon {
  padding-bottom: 25px;
}

.block2-item {
  width: 400px;
  overflow: hidden;
  text-align: center;
}

.block2-title {
  padding-bottom: 25px;
}

.white-list li:nth-child(3) {
  margin-top: -6px;
}

.white-list li:nth-child(1) {
  margin-top: -2px;
}

.grey-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
  padding-top: 48px;
  list-style: none;
  background-color: #eeeeee;
}

.grey-list h3 {
  padding-bottom: 25px;
}

.grey-list p {
  padding-top: 19px;
}

.hotel-search {
  min-height: 291px;
}

.hotel-search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  min-height: 293px;
  padding-top: 50px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.hotel-search h2 {
  max-width: 1200px;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search p {
  padding-bottom: 48px;
  line-height: 24px;
}

.hotel-search-button {
  position: relative;
  z-index: 1;
  width: 570px;
  height: 86px;
  padding-top: 28px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  cursor: pointer;
}

.hotel-search-button:hover {
  background-color: #604e43;
}

.hotel-search-button:active {
  color: #928a85;
  background-color: #503e33;
}

.modal-close {
  display: none;
}

.modal {
  position: absolute;
  width: 570px;
  height: 395px;
  margin-left: 315px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  -webkit-animation: bounce 0.5s;
  animation: bounce 0.5s;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 55px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.modal-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
}

.modal-item input {
  margin-left: auto;
}

.modal-item label {
  margin-left: 3px;
}

.calendar {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.calendar:hover path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.half-width-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 50%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.modal-wrapper input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-wrapper input:hover {
  background-color: #ebebeb;
}

.modal-wrapper input:focus {
  background-color: #ffffff;
  outline: 1px solid #e5e5e5;
}

.full-width {
  width: 346px;
  height: 38px;
  margin-bottom: 29px;
  padding-left: 10px;
  background-color: #f2f2f2;
  border: none;
}

.half-width {
  width: 38px;
  height: 38px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.children {
  align-items: center;
  margin-top: -40px;
  margin-left: auto;
  padding-top: 4px;
  padding-left: 50px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.adults {
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.children label {
  margin-right: 25px;
}

.adults label {
  margin-right: 40px;
}

.modal-button {
  width: 38px;
  height: 38px;
  font-weight: bold;
  font-size: 22px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-button:hover {
  color: #000000;
}

.modal-button:active {
  color: #81b3d2;
}

.modal-submit {
  width: 458px;
  height: 58px;
  margin-top: 53px;
  margin-left: auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.modal-submit:hover {
  background-color: #669ec0;
}

.modal-submit:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.map {
  height: 593px;
  background-image: url("../img/map.jpg");
}
/*----------hotels.html----------*/
.hotel-filters {
  position: relative;
  min-height: 217px;
  color: #ffffff;
  background-color: #4c4a4b;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 15%;
}

.filter-wrap {
  padding-top: 26px;
  padding-right: 6%;
  padding-left: 60px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter fieldset {
  border: none;
}

.filter legend {
  padding-bottom: 21px;
  font-weight: bold;
  font-size: 16px;
}

.filter-list {
  margin-right: 129px;
  list-style: none;
}

.filter-item {
  margin-bottom: 22px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  height: 23px;
  padding-left: 40px;
  line-height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat left center;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background: url("../img/checkbox-on.svg") no-repeat left center;
}

input[type="checkbox"]:disabled + label {
  background: url("../img/checkbox-off-disabled.svg") no-repeat left center;
}

input[type="checkbox"]:checked:disabled + label {
  background: url("../img/checkbox-on-disabled.svg") no-repeat left center;
}

.filter-range {
  width: 317px;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  line-height: 32px;
  vertical-align: inherit;
  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px #ffffff inset;
  box-shadow: 0 0 0 8px #ffffff inset;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 33px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.range-toggle:hover {
  background: #1c4f80;
}

.price-controls .max-price,
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.hotel-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-sorting-results {
  margin-top: 30px;
  margin-right: 48px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-sorting-settings span {
  margin-right: 2px;
  font-size: 12px;
  line-height: 18px;
}

.hotel-sorting-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

.hotel-sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hotel-sorting-options {
  margin-left: 32px;
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  cursor: pointer;
}

.hotel-sorting-current {
  padding-left: 4px;
  color: #81b3d2;
  border: none;
}

.hotel-sorting-options:hover {
  color: #81b3d2;
}

.hotel-sorting-options:active {
  color: #000000;
  text-decoration: none;
}

.arrows-wrapper {
  margin-bottom: 5px;
  margin-left: auto;
  padding-top: 40px;
  font-size: 0;
  cursor: pointer;
}

.arrow-up {
  margin-right: 12px;
}

.arrows:hover path {
  fill: #231f20;
}

.arrows:active path {
  fill: #81b3d2;
}

.catalog {
  min-height: 453px;
  background-color: #fefefe;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 151px;
  padding-top: 25px;
  padding-right: 6%;
  padding-left: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  text-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.catalog-item-img {
  margin-top: 4px;
  margin-right: 31px;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}

.catalog-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-right: 75px;
  padding-bottom: 13px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}

.catalog-item-title {
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: #dfdfdf;
}

.button-more {
  display: inline-block;
  width: 110px;
  height: 27px;
  font-weight: bold;
  line-height: 27px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-book {
  width: 142px;
  height: 27px;
  font-weight: bold;
  line-height: 27px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  color: #928a85;
  background-color: #503e33;
}

.catalog-item-right span {
  width: 110px;
  height: 28px;
  margin-top: 40px;
  line-height: 28px;
  text-align: center;
  background-color: #f2f2f2;
}

.catalog-item-stars {
  margin-top: 5px;
  text-align: right;
}

.catalog-item-stars svg {
  margin-left: 2px;
}
/*----------footer----------*/
.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 120px;
  padding-right: 90px;
  padding-left: 132px;
  background-color: #fefefe;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.main-footer {
  position: relative;
  margin-top: -121px;
  background-color: #fefefe;
  opacity: 0.9;
}

.footer-hashtag {
  margin-right: 256px;
  font-size: 21px;
  line-height: 26px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #81b3d2;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: auto;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}

.footer-logo {
  margin-left: 8px;
}

.footer-logo:hover path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
